<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartbus.mapper.UserMapper">

    <select id="findAll" resultType="com.example.smartbus.entity.User">
        select *
        from user
    </select>
    <select id="findById" parameterType="int" resultType="com.example.smartbus.entity.User">
        select *
        from user
        where id=#{id}
    </select>
    <select id="findByAccount" parameterType="string" resultType="com.example.smartbus.entity.User">
        select *
        from user
        where account=#{account}
    </select>
    <select id="findByName" parameterType="string" resultType="com.example.smartbus.entity.User">
        select *
        from user
        where name=#{name}
    </select>
</mapper>